web/WEB-INF/wsdl/localhost_8080/NewWebService/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="NewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/NewWebService/NewWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="issueBook">
<part name="parameters" element="tns:issueBook"/>
</message>
<message name="issueBookResponse">
<part name="parameters" element="tns:issueBookResponse"/>
</message>
<message name="displayBook">
<part name="parameters" element="tns:displayBook"/>
</message>
<message name="displayBookResponse">
<part name="parameters" element="tns:displayBookResponse"/>
</message>
<message name="returnBook">
<part name="parameters" element="tns:returnBook"/>
</message>
<message name="returnBookResponse">
<part name="parameters" element="tns:returnBookResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="NewWebService">
<operation name="issueBook">
<input wsam:Action="http://ws/NewWebService/issueBookRequest" message="tns:issueBook"/>
<output wsam:Action="http://ws/NewWebService/issueBookResponse" message="tns:issueBookResponse"/>
</operation>
<operation name="displayBook">
<input wsam:Action="http://ws/NewWebService/displayBookRequest" message="tns:displayBook"/>
<output wsam:Action="http://ws/NewWebService/displayBookResponse" message="tns:displayBookResponse"/>
</operation>
<operation name="returnBook">
<input wsam:Action="http://ws/NewWebService/returnBookRequest" message="tns:returnBook"/>
<output wsam:Action="http://ws/NewWebService/returnBookResponse" message="tns:returnBookResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws/NewWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws/NewWebService/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="NewWebServicePortBinding" type="tns:NewWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="issueBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="displayBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="returnBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NewWebService">
<port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
<soap:address location="http://localhost:8080/NewWebService/NewWebService"/>
</port>
</service>
</definitions>