src/conf/xml-resources/web-service-references/NewWebService/wsdl/localhost_8080/NewWebService/NewWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="displayBook" type="tns:displayBook"/>

<xs:element name="displayBookResponse" type="tns:displayBookResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="issueBook" type="tns:issueBook"/>

<xs:element name="issueBookResponse" type="tns:issueBookResponse"/>

<xs:element name="returnBook" type="tns:returnBook"/>

<xs:element name="returnBookResponse" type="tns:returnBookResponse"/>

<xs:complexType name="returnBook">
<xs:sequence>
<xs:element name="bookName" type="xs:string" minOccurs="0"/>
<xs:element name="amount" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="returnBookResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="issueBook">
<xs:sequence>
<xs:element name="bookName" type="xs:string" minOccurs="0"/>
<xs:element name="amount" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="issueBookResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="displayBook">
<xs:sequence>
<xs:element name="i" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="displayBookResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>